.card {
  width: 100%;
}

#togglePassword {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  line-height: 1;
  color: inherit;

  ::ng-deep.datta-rtl & {
    right: auto;
    left: 15px;
  }
}
